#src/Newsela/structured_lm_forward_300_150_0_4.pt
#src/Wikilarge/structured_lm_forward_300_150_0_4_freq5.pt
*/__pycache__/*
#src/Wikilarge/Word2vec/
#src/Newsela/Word2vec/
src/Newsela/
data/Newsela/*
data/output/Newsela/
src/Asset/
src/easse/
src/nohup.out
/.idea/aws.xml
/.idea/controllable-simplification.iml
./nohup.out
./.DS_Store
